{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        form {
            width: fit-content;
        }
        .subdomain-text {
            fill: black;
        }
    </style>
{% endblock %}

{% block main %}
<div class="container-fluid bg-dark" data-bs-theme="dark">
    <div class="row">
        <div class="sidebar col-md-3 col-lg-2">
            <div tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                    {{ form(form) }}
                </div>
            </div>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-2">
            <h1>Holidays calendar of swiss cantons.</h1>
            <p>
                You can select a specific year.
                You can also filter the calendar by cantons in the list.
                Finally, you can select a date in the calendar to see the cantons which are on holidays for the given date.
                Data from <a href="https://www.edk.ch"  target="_blank">edk.ch</a> and <a href="https://en.wikipedia.org/wiki/Public_holidays_in_Switzerland" target="_blank">wiki</a>.
                Code on <a href="https://github.com/maidmaid/ch-holidays" target="_blank">Github</a>.
            </p>
            <div id="cal-heatmap"></div>
        </main>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $options = $('select option');
        const cal = new CalHeatmap();
        cal.paint({
            domain: {
              type: 'month',
              gutter: 1,
              dynamicDimension: true,
            },
            subDomain: {
              type: 'ghDay',
              label: 'D',
              width: 24,
              height: 24,
              gutter: 0,
              radius: 0,
            },
            data: {
              x: 'date',
              y: 'count',
              defaultValue: 0,
            },
            date: {
              highlight: [new Date()],
              locale: { weekStart: 1 },
            },
            scale: {
              color: {
                scheme: 'Reds',
                domain: [1, 6, 11, 16, 21, 26],
                type: 'threshold',
              },
            },
          },
          [
            [
              Tooltip,
              {
                text: function (timestamp, value, dayjsDate) {
                  return `${value} canton(s)`;
                },
              },
            ],
            [Legend, {}],
            [
              CalendarLabel,
              {
                position: 'right',
                text: () => ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                textAlign: 'start',
                width: 30,
                padding: [0, 0, 0, 5],
              },
            ]
          ],
        );
        cal.on('click', (event, timestamp, value) => {
            $.post('/cantons/' + timestamp / 1000, highlightCantons);
        });
        $('form').change(function() {
            resetCantons();
            $.post('{{ path('data') }}', $('form').serialize(), function (data) {
              cal.jumpTo(new Date($('#holiday_filters_year').val()), true)
              cal.fill(data);
            })
        });
        function highlightCantons(cantons) {
            resetCantons();
            $options
                .filter(function(i, e) { return !cantons.includes($(e).val())})
                .css({'opacity': 0.1})
            ;
        }
        function resetCantons() {
            $options.css({'opacity': 1});
        }
        document.addEventListener('DOMContentLoaded', function() {
            $('form').change();
        });
    </script>
{% endblock %}
